* {
    box-sizing: border-box;
}

.icons {
    box-shadow: none;
    transition: 400ms all ease-out;
}

.icons:hover {
    transition: 400ms all ease-in;
    box-shadow: 0 0 1rem rgb(83, 247, 247);
    cursor: pointer;
}
